data/raw/rnic_t4_2025.csv filter=lfs diff=lfs merge=lfs -text
data/raw/ValeursFoncieres-2025-S1.txt filter=lfs diff=lfs merge=lfs -text
data/raw/logements_insee/*.CSV filter=lfs diff=lfs merge=lfs -text
